<% page_name = "What's new" %>
<% content_for :title, page_name %>
<%= render "govuk_publishing_components/components/title", { title: page_name } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <section class="app-view-whats-new__section">
      <h2 class="govuk-heading-l">New Manuals Publisher features</h2>

      <p class="govuk-body app-view-whats-new__last-updated">Last updated 8 Sep 2023</p>

      <p class="govuk-body">We are delivering some enhancements for Manuals Publisher over the next couple of months.</p>

      <p class="govuk-body">We’re doing this because we did user research earlier this year and discovered that Manuals users are lacking some
        of the features that other publishing apps like Whitehall already have.</p>

      <p class="govuk-body">If you have any questions or feedback about publishing, you can reach us on
        <a href="mailto:publishing-service-feedback@digital.cabinet-office.gov.uk" class="govuk-link">publishing-service-feedback@digital.cabinet-office.gov.uk</a>.
        For any other type of support, you can <a href="https://support.publishing.service.gov.uk/" class="govuk-link">submit a request via
        Zendesk</a>.</p>
    </section>

    <section class="app-view-whats-new__section">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Recent changes</h2>
      <div class="govuk-!-static-margin-top-8">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">
            <h3 class="govuk-heading-m">Move to GOV.UK design system</h3>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <strong class="govuk-tag govuk-tag--blue">
              improvement
            </strong>
          </div>
        </div>

        <p class="govuk-body app-view-whats-new__last-updated">8 Sep 2023</p>

        <p class="govuk-body">You will start seeing pages on Manuals Publisher moving to the GOV.UK design system.
          This will make Manuals Publisher easier to navigate and consistent with other GOV.UK tools.
          As the updates will be rolled out incrementally, you will notice some pages in the new design system and some
          in the old design language. Please be assured that this is normal and all the pages will move to the GOV.UK
          design system eventually.
        </p>
      </div>
      <div class="govuk-!-static-margin-top-8">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">
            <h3 class="govuk-heading-m">List draft sections before publishing</h3>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <strong class="govuk-tag govuk-tag--blue">
              improvement
            </strong>
          </div>
        </div>

        <p class="govuk-body app-view-whats-new__last-updated">15 Aug 2023</p>

        <p class="govuk-body">You will be prompted with a list of sections in draft status before final publishing of a manual.
          This will display the sections, section editor’s name and last edited time for all the sections being edited.
          We hope this feature will help you identify if other editors are making changes to other sections of a manual so
          that accidental publishing of draft content is prevented.</p>
      </div>
      <div class="govuk-!-static-margin-top-8">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">
            <h3 class="govuk-heading-m">Section status label and editor name</h3>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <strong class="govuk-tag govuk-tag--blue">
              improvement
            </strong>
          </div>
        </div>

        <p class="govuk-body app-view-whats-new__last-updated">9 Aug 2023</p>

        <p class="govuk-body">You can now identify the sections in a manual that are currently being edited with a label -
          <span class="govuk-tag govuk-tag--blue">DRAFT</span> - clearly displayed against the sections. Additionally,
          you can also see the name of the editor who made recent changes to the sections.</p>
        <p class="govuk-body">We hope this feature will make you aware of all the sections in a manual currently being edited
          while you are making your changes. Further, the section editor’s name will help you identify people quickly if you
          need to coordinate with them. We hope this awareness will help prevent accidental publishing of any draft changes
          to the manual.</p>
      </div>
      <div class="govuk-!-static-margin-top-8">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">
            <h3 class="govuk-heading-m">Added Paste to Govspeak</h3>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <strong class="govuk-tag govuk-tag--blue">
              improvement
            </strong>
          </div>
        </div>

        <p class="govuk-body app-view-whats-new__last-updated">13 Jul 2023</p>

        <p class="govuk-body">You can now paste formatted text into the body field and Manuals Publisher will try to convert it into GOV.UK’s
          version of <a href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/markdown" class="govuk-link">Markdown</a>, Govspeak. We hope
          this feature will save you time when editing content.</p>

        <p class="govuk-body">This works best when copying and pasting from text editing software like Word or Google Docs. It is less likely to
          recognise formatting from PDFs.</p>

        <p class="govuk-body">It will convert:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>headings</li>
          <li>bullets</li>
          <li>numbered lists</li>
          <li>links</li>
          <li>email links</li>
        </ul>

        <p class="govuk-body">Other formatting, such as tables, will be removed and only plain text pasted. You’ll need to write the Markdown for
          these separately.</p>
      </div>
    </section>

  </div>
</div>
