<h1 class="page-header"><%= manual.title %>
  <ul class='document-slug'>
    <li title='<% if !manual.published? %>When published this manual will appear at this URL<% end %>'>
      <%= manual.slug %>
    </li>
    <% if manual.published? %>
      <li><%= link_to "View on website", public_url %></li>
    <% end %>
    <% if show_preview?(manual) %>
      <li><%= link_to "Preview draft", content_preview_url(manual) %></li>
    <% end %>
  </ul>
</h1>
