<%= render "govuk_publishing_components/components/title", {
  title: manual.title
} %>

<div class="page-header">
  <% if manual.published? %>
    <%= link_to "View on website", public_url %>
  <% else %>
    <%= "When published this manual will appear at this URL - #{manual.slug}" %>
  <% end %>
  <% if show_preview?(manual) %>
    <%= link_to "Preview draft", content_preview_url(manual) %>
  <% end %>
</div>
