<% content_for :title, "Your manuals" %>

<% content_for :breadcrumbs do %>
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    collapse_on_mobile: true,
    breadcrumbs: [
      {
        title: "Your manuals",
      },
    ]
  } %>
<% end %>

<% content_for :heading, "Your manuals (#{manuals.count})" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third govuk-body">
    <%= link_to "Create new manual", new_manual_path, class: 'govuk-link govuk-link--no-visited-state' -%>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "govuk_publishing_components/components/table", {
      head: [
        {
          text: "Title"
        },
        {
          text: "Updated"
        },
        {
          text: "Status"
        },
        {
          text: tag.span("View", class: "govuk-visually-hidden")
        }
      ],
      rows: manuals.map do |manual| [
        {
          text: tag.span(manual.title, class: "govuk-!-font-weight-bold")
        },
        {
          text: tag.span("#{time_ago_in_words(manual.updated_at)} ago") <<
            tag.span(tag.br + link_to(manual.organisation_slug, url_for_public_org(manual.organisation_slug), class: "govuk-link"))
        },
        {
          text: state_label(manual)
        },
        {
          text: link_to(sanitize("View #{tag.span(manual.title, class: 'govuk-visually-hidden')}"), manual_path(manual), class: "govuk-link"),
        }
      ]
      end
    } %>
  </div>
</div>
