.app-inset-prompt {
  @include govuk-text-colour;
  @include govuk-responsive-padding(4);
  @include govuk-responsive-margin(6, "bottom");

  border-left: $govuk-border-width-narrow solid govuk-colour("black", $variant: "tint-25");
  background-color: govuk-colour("black", $variant: "tint-95");

  @include govuk-media-query($from: tablet) {
    border-left: $govuk-border-width solid govuk-colour("black", $variant: "tint-25");
  }

  &:focus {
    outline: $govuk-focus-width solid govuk-functional-colour(focus);
  }
}

.app-inset-prompt--error {
  border-color: govuk-functional-colour(error);
  background-color: govuk-tint(govuk-functional-colour(error), 90%);
}
