// govuk_admin_template
@import "govuk_admin_template";

// govuk_frontend_toolkit
@import "colours";
@import "typography";
@import "measurements";
@import "css3";

// app styles
@import "document-list";
@import "forms";
@import "govspeak";
@import "navbar";
@import "header";
@import "ordered_lists";
@import "broken-links-report";

// Import comps
@import "govuk_publishing_components/components/table";
@import "govuk_publishing_components/components/title";
@import "govuk_publishing_components/components/button";
@import "govuk_publishing_components/components/breadcrumbs";

p.no-content-message { // stylelint-disable-line selector-no-qualifying-type
  @include core-19;
  color: $grey-1;
}

.metadata-list {
  width: 100%;

  dt {
    float: left;
    clear: both;
    width: 30%;
  }

  dd {
    float: right;
    width: 70%;
  }
}

.collapsable-heading a {
  color: inherit;

  small {
    color: $link-color;
  }
}

.action-link {
  @include core-19;
}

.body-pre {
  max-height: 500px;
  overflow: scroll;
  word-break: break-word;
}
